---
import titleBlack from '../assets/img/title_black.png';
---

<footer class="font-serif">
    <div class="bg-white px-4 md:p-10">
        <div class="w-full flex justify-center">
            <img src={titleBlack.src}/>
        </div>
        <div class="w-full text-center mt-10">
            <a href="">TOP</a> | <a href="">ご挨拶</a> | <a href="">最新情報</a> | <a href="">事業内容</a> | <a href="">問い合わせ</a>

        </div>
        <div class="w-full text-center">
            <a href="">SPEAKER</a> | <a href="">COMMUNITY</a> | <a href="">SESSION</a> | <a href="">TOUR</a> | <a href="">ENGLISH EDUCATION</a> | <a href="">OTHER</a>

        </div>
        <div class="w-full text-center">
            <a href="">INSTAGRAM</a> | <a href="">NOTE</a>
        </div>

        <p class="w-full text-center text-black mt-10">©鬼城 雄大 Portfolio</p>
    </div>
</footer>