---
import titleBlack from '../assets/img/title_black.png';
---

<footer class="font-serif">
    <div class="bg-white px-4 md:p-10">
        <div class="w-full flex justify-center">
            <img src={titleBlack.src}/>
        </div>
        <div class="w-full text-center mt-10">
            <a href="./">TOP</a> | <a href="./preparation">ご挨拶</a> | <a href="./preparation">最新情報</a> | <a href="./preparation">事業内容</a> | <a href="./preparation">問い合わせ</a>

        </div>
        <div class="w-full text-center">
            <a href="./preparation">SPEAKER</a> | <a href="./preparation">COMMUNITY</a> | <a href="./preparation">SESSION</a> | <a href="./preparation">TOUR</a> | <a href="./preparation">ENGLISH EDUCATION</a> | <a href="./preparation">OTHER</a>

        </div>
        <div class="w-full text-center">
            <a href="https://www.instagram.com/onichan.innervoice/">INSTAGRAM</a> | <a href="">NOTE</a>
        </div>

        <p class="w-full text-center text-black mt-10">©鬼城 雄大 Portfolio</p>
    </div>
</footer>