<script>
    import '../scripts/header-script.js';
</script>

<header class="bg-black p-4 flex justify-end items-center">
    <button id="hamburger-button" class="text-white">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path id="hamburger-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
</header>

<nav id="mobile-nav" class="hidden bg-black fixed top-0 left-0 w-full h-full bg-opacity-80 z-50 flex items-center justify-center transition-opacity duration-500 opacity-0">
    <ul class="flex flex-col space-y-4 text-white text-base items-center justify-center">
        <li>
            <button id="close-button" class="">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path id="close-icon" class="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </li>
        <li><a href="./" class="block hover:text-gray-400">TOP</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">プロフィール</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">最新情報</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">事業内容</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">LECTURE</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">COMMUNITY</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">SESSION</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">CAMP</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">ENGLISH EDUCATION</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">OTHER</a></li>
        <li><a href="./preparation" class="block hover:text-gray-400">お問い合わせ</a></li>
    </ul>
</nav>